.style{
    background-image: url("https://internshala.com/static/images/registration/student_new/background.png");
    width: 100%;
    background-size: cover;
}

.title {
    margin-bottom: -8px;
    margin-top: 25px;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
  }

  @media (max-width:450px) {
    .title {
     
        margin-top: 30px;
       
      } 
  }

  .form{
    width: auto;
    padding: 20px 20px;
    border: 1px solid #00000029;
    border-radius: 10px;
    box-shadow: -2px -2px 6px rgba(0,107,194,.12), 2px 2px 6px rgba(0,107,194,.12);
}


.field{
    /* width: 100%; */
    /* outline: none; */
    margin-top: 0px;
    /* border: 0.5px solid #00000029; */
    border-radius: 5px;
    /* padding: 5px; */
}

.label{
    font-weight: 500;   
}

.field:focus{
    box-shadow: -2px -2px 6px rgba(0,107,194,.12), 2px 2px 6px rgba(0,107,194,.12);
    
}